<div class="navbar navbar-expand-lg fixed-bottom bg-primary" style="align-content: center; height: 50px;">
      <div class="container">
         <!-- data inizio -->
         <div>
            <label for="data" style="color: aliceblue;">Dal giorno:</label>
            <input type="date" id="dataInizioCSV" name="dataInizioCSV">
            <label for="data" style="color: aliceblue;">Al giorno:</label>
            <input type="date" id="dataFineCSV" name="dataFineCSV">
            <button type="button" class="btn btn-success" style="margin-left: 20px;">Download eventi nell'intervallo di tempo</button>
         </div>

         <!-- data fine -->
         <div>

         </div>


      </div>
   </div>