<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>index.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.static.authors</param-name>
        <param-value>Carmine Pittella</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.connectionstring</param-name>
        <param-value>jdbc:mysql://localhost/aule_web?serverTimezone=Europe/Rome</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.username</param-name>
        <param-value>aule_website</param-value>
    </context-param>
    <context-param>
        <param-name>data.jdbc.password</param-name>
        <param-value>aule_webpass</param-value>
    </context-param>
    <context-param>
        <param-name>data.source</param-name>
        <param-value>jdbc/aule_web</param-value>
    </context-param>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dettagliEventoServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.dettagliEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auleAdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.auleAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eventiAdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.eventiAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gruppiAdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.gruppiAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attrezzaturaAdminServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.attrezzaturaAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>it.univaq.f4i.iw.Aule_Web.controller.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dettagliEventoServlet</servlet-name>
        <url-pattern>/dettagliEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/areaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auleAdminServlet</servlet-name>
        <url-pattern>/auleAdmin</url-pattern>
        <url-pattern>/settingAula</url-pattern>
        <url-pattern>/aggiungiAttrezzatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventiAdminServlet</servlet-name>
        <url-pattern>/eventiAdmin</url-pattern>
        <url-pattern>/settingEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gruppiAdminServlet</servlet-name>
        <url-pattern>/gruppiAdmin</url-pattern>
        <url-pattern>/settingGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attrezzaturaAdminServlet</servlet-name>
        <url-pattern>/attrezzaturaAdmin</url-pattern>
        <url-pattern>/settingAttrezzo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/aule_web</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
